services:

  bdeinfo-client:
    container_name: bdeinfo-client
    build:
      context: ./client
      dockerfile: ./.docker/Dockerfile
    restart: unless-stopped
    depends_on:
      - bdeinfo-server
    ports:
      - "3000:3000"
    env_file:
      - ./client/.env
    environment:
      NODE_ENV: development
      API_URL: http://bdeinfo-server:1337

  bdeinfo-server:
    container_name: bdeinfo-server
    build:
      context: ./server
      dockerfile: ./.docker/Dockerfile
    restart: unless-stopped
    ports:
      - "1337:1337"
    env_file:
      - ./server/.env
    environment:
      NODE_ENV: development
    volumes:
      - bdeinfo_server_database:/app/database/
      - bdeinfo_server_uploads:/app/public/uploads/

volumes:
  bdeinfo_server_database:
  bdeinfo_server_uploads: