@use '_variables' as *
@use '_mixins' as *
@use 'sass:color'
    
.aboutContainer
    position: absolute
    top: $navbarHeight
    left: 0
    width: 100vw
    height: calc(100vh - $navbarHeight)

    overflow-y: auto
    overflow-x: hidden

    display: flex
    align-items: center
    justify-content: center
    text-align: center

    @include media-max($breakpoint-sm)
        padding-top: 2rem
        flex-direction: column
        align-items: center
        justify-content: flex-start

    .informationsContainer

        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        transform-style: preserve-3d

    .informations

        position: absolute
        top: 0
        height: 100%

        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

        opacity: 0
        transform: translateZ(30px)

        transition: .2s linear


        @include media-max($breakpoint-sm)
            opacity: 1
            position: relative
            width: 100%

        .logo
            @include media-max($breakpoint-sm)
                height: 40vw

        .title
            font-size: 2rem

            @include media-max($breakpoint-sm)
                font-size: 1rem

        .description
            margin-top: 1rem

            font-family: "Poppins", sans-serif
            font-weight: 500
            color: color.adjust($primaryColor, $alpha: -0.1)

            @include media-max($breakpoint-sm)
                font-size: 0.9rem

            @include media-min($breakpoint-sm)
                width: 80%

        .subInformations

            display: flex
            justify-content: center
            align-items: center

            margin-top: 1rem

            @include media-max($breakpoint-sm)
                flex-direction: column

            div 

                margin: .8rem
                color: color.adjust($secondaryColor, $whiteness: 50%)

                @include media-max($breakpoint-sm)
                    font-size: 0.8rem
                    margin: .5rem

        
    .tilt

        display: flex
        align-items: center
        justify-content: center
        width: 100vh
        height: 60vh
        box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05)
        transform-style: preserve-3d

        margin:
            // left: -10rem
            top: 3rem 

        &:hover 
            .image
                opacity: 0.05
            .informations
                opacity: 1            

        .mandat 
            
            position: absolute
            top: -8%
            left: 5%

            color: #e4e9efa2
            font-size: 1.5rem

            @include media-max($breakpoint-sm)
                display: none

    .image 

        height: 60vh
        border-radius: 5px

        opacity: 0.9

        transition: .2s linear

        @include media-max($breakpoint-lg)
            height: 50vh

        @include media-max($breakpoint-sm)
            height: 25vh
            margin: 2rem auto

    .interactions

        @include media-max($breakpoint-sm)
            margin-bottom: 25vh

        div
            margin: 2rem 0rem
            padding: 1.5rem

            font-size: 1.2rem
            font-family: 'Poppins'

            background: color.adjust($backgroundColor, $whiteness: 2%)
            border-radius: 10px

            cursor: pointer
            transition: .3s linear
                
            &:hover 
                background: color.adjust($secondaryColor, $alpha: -.4)

            @include media-max($breakpoint-sm)
                font-size: 0.8rem
                padding: 0.7rem

            i
                margin-left: 1rem



    
