@use '_variables' as *
@use '_mixins' as *
@use 'sass:color'
    
.mainText
    user-select: none
    position: absolute
    top: 50%
    left: 15%
    transform: translateY(-50%)

    @include media-max($breakpoint-md)
        top: 30%


    @include media-max($breakpoint-lg)
        left: 10%

    .title
        font-size: clamp(35px, 4vw, 200px)
        animation: fadeIn 1s ease forwards
        opacity: 0

        @keyframes fadeIn
            0%
                opacity: 0
                transform: translateY(20%)
            100%
                opacity: 1
                transform: translateY(0)

        span
            color: $secondaryColor
            animation: neon 1.5s ease-in-out infinite alternate

            @keyframes neon
                from
                    text-shadow: 0 0 10px $secondaryColor, 0 0 20px $secondaryColor
                to
                    text-shadow: 0 0 5px $secondaryColor, 0 0 10px $secondaryColor

    .preTitle
        font-size: clamp(15px, 1.5vw, 200px)
        color: color.adjust($primaryColor, $alpha: -0.1)

    .postTitle
        font-family: 'Poppins'
        font-size: clamp(15px, 1.2vw, 200px)
        font-weight: lighter
        letter-spacing: 0.15rem
        color: color.adjust($primaryColor, $alpha: -0.1)

        @include media-max($breakpoint-xs)
            width: 70%

// CAROUSEL

.eventsContainer
    user-select: none
    position: absolute
    top: 55%
    right: 18%
    transform: translateY(-50%)

    width: 100%
    max-width: 600px
    max-height: 450px
    height: 100%
    transform-style: preserve-3d
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center

    @include media-max($breakpoint-xs)
        height: 50%

    @include media-max($breakpoint-md)
        top: 70%
        right: 10%
    
    @include media-max($breakpoint-lg)
        right: 8%
        transform: scale(0.8) translateY(-70%)


    .radio
        display: none
        pointer-events: none

    .events
        position: relative
        width: 100%
        height: 100%
        margin-bottom: 20px

        .event
            position: absolute
            width: 60%
            height: 100%
            left: 0
            right: 0
            margin: auto
            transition: transform .4s ease

            .eventImg
                width: 100%
                height: 100%
                border-radius: 10px
                -o-object-fit: cover
                object-fit: cover

    .info
        @include card
        min-width: 320px
        padding: 16px 10px

        .upperPart
            position: relative
            display: flex
            align-items: center
            margin-bottom: 12px
            height: 36px
            overflow: hidden

            .infoArea
                width: 100%
                position: absolute
                top: 0
                left: 30px
                transition: transform .4s ease-in

                .eventInfo
                    width: calc(100% - 32px)
                    display: block

                    .title
                        color: $secondaryColor
                        font-size: 14px
                        line-height: 24px
    
                    .subLine
                        display: flex
                        justify-content: space-between
                        width: 100%

                        .miscInfo
                            font-size: 12px
                            line-height: 16px
                            color: #c6c5c6       

#radio-1:checked ~ .events #event-3, #radio-2:checked ~ .events #event-1, #radio-3:checked ~ .events #event-2
    transform: translatex(-25%) scale(.8)
    opacity: .4
    z-index: 0

#radio-1:checked ~ .events #event-2, #radio-2:checked ~ .events #event-3, #radio-3:checked ~ .events #event-1
    transform: translatex(25%) scale(.8)
    opacity: .4
    z-index: 0

#radio-1:checked ~ .events #event-1, #radio-2:checked ~ .events #event-2, #radio-3:checked ~ .events #event-3
    transform: translatex(0) scale(1)
    opacity: 1
    z-index: 1

#radio-1:checked ~ .info #text
    transform: translateY(0)

#radio-2:checked ~ .info #text
    transform: translateY(-40px)

#radio-3:checked ~ .info #text
    transform: translateY(-80px)