@use 'variables' as *
@use 'mixins' as *

// NAVBAR
    
.navbar
    user-select: none
    position: fixed
    top: 0
    width: 100vw
    height: $navbarHeight
    padding: 1.5rem 2rem
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    z-index: 5

    .tabs
        display: flex

        .tab
            cursor: pointer
            margin: 1rem
            font-size: 1.3rem
            font-weight: 900
            color: $primaryColor
            transition: color 0.2s linear

            &:hover
                color: $secondaryColor

            @include media-max($breakpoint-xs)
                font-size: 0.8rem
                margin: 0.5rem

// LINKS

.links
    position: fixed
    display: flex
    flex-direction: column
    top: 50%
    right: 1%
    transform: translateY(-50%)
    z-index: 5

    .link
        cursor: pointer
        margin: 1rem
        font-size: 1.6rem
        color: $primaryColor
        transition: color 0.2s linear

        &:hover
            color: $secondaryColor

        @include media-max($breakpoint-xs)
            font-size: 1.2rem
